body {
    background-color: #f7f9fa;
    color: #333;
}

/* The place where the logged-in user does the posting */
.post-area {
    max-width: 600px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* This is the post part we are styling the single post */
ul.posts {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

ul.posts li.post:hover {
    background-color: #fad9d9;
}

/* style the the profile thumbnail. This is basically the profile
 * picture of the user
 */
div.profile-thumbnail {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* This is the div that contains the author, body and date*/
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-date {
    font-size: 13px;
    color: #888;
    float: right;
}
div.post-author {
    text-decoration: None;
    font-weight: bold;
    color: #333;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/


div.post-tabs {
    margin-top: 16px;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

div.post-thumbnail {
    position: absolute;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

/* this part will style the pagination */
div.pagination {
    width: 100%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
/* The share and Edit link section */
span.badge {
    border-radius: 5px;
}
span.bg-primary{
    background-color: #337ab7;
}
span.bg-danger {
    background-color: #df4759;
}
